extends ../layout/default

block content
  .media
    img.pull-left.media-object(src="http://image.eveonline.com/Type/#{invtype.typeID}_64.png")
    .media-body
      h1= invtype.typeName
      h4 Market Details

  .row
    .col-md-7
      include _table

    #taxes.col-md-5
      h3  #{invtype.typeName} Taxes 
      h4 Period: #{moment(taxes.start).format('MM/DD')} to #{moment(taxes.end).format('MM/DD')}

      dl.dl-horizontal

        dt= accounting.formatNumber(taxes.quantity)
        dd Units

        dt= accounting.toFixed(taxes.price, 2)
        dd Average Price

        dt.subtotal= accounting.formatNumber( taxes.quantity * taxes.price )
        dd Pre-tax Total

        dt #{parseInt(taxes.rate * 100)} %
        dd Tax Rate

        dt.subtotal= accounting.formatNumber( taxes.quantity * taxes.price * taxes.rate )
        dd Total Due